:root {
    --cor-primaria: #923a7f;
    --cor-secundaria: #0095A9;
    --cor-texto: #4b5563;
    --cor-fundo: #1f2937;
    --cor-branca: #c4d45d;
    --font-titulo: 2.25rem;
    --font-subtitulo: 1.125rem;
    --font-secao: 1.25rem;
    --font-peso: 700;
    --espaco-mb: 1rem;
    --espaco-mt: 1.5rem;
    --padding: 8px 24px; 
    --borda: 2px solid;
    --borda-radius: 9999px;
    --transicao: 0.3s;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f4f6; 
    color: #1f2937; 
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    max-width: 80rem; 
    margin: 0 auto; 
    padding: 36px; 
    flex: 1;
}
.text-center {
    text-align: center; 
    margin-bottom: 32px; 
}
.titulo-cabecalho {
    font-size: var(--font-titulo);
    font-weight: var(--font-peso);
    color: var(--cor-primaria);
}
.subtitulo-cabecalho {
    font-size: var(--font-subtitulo);
}
.titulo-secao {
    font-size: var(--font-secao);
    font-weight: var(--font-peso);
    margin-bottom: var(--espaco-mb);
}
.item-detalhe {
    font-weight: var(--font-peso);
}
.icones-sociais {
    color: var(--cor-texto);
}
.botao-contato, .botao-sobre {
    margin-top: var(--espaco-mt);
    padding: var(--padding);
    border: var(--borda) var(--cor-secundaria);
    color: var(--cor-secundaria);
    font-weight: var(--font-peso);
    border-radius: var(--borda-radius);
    transition: background-color var(--transicao), color var(--transicao);
}

.botao-sobre{
    max-width: 140px;
    margin: 30px;
}
.botao-contato:hover, .botao-sobre:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-branca);
}
.cartao-perfil {
    background-color: var(--cor-secundaria);
    color: var(--cor-branca);
    padding: 24px; 
    border-radius: 8px; 
    text-align: center;
}
.imagem-perfil {
    width: 10rem;
    height: 10rem;
    border-radius: var(--borda-radius);
    margin-top: -20%;
}
.rodape {
    background-color: var(--cor-fundo);
    color: var(--cor-branca);
    text-align: center;
    padding: 16px 0; 
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px; 
}
.flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}
.space-x-4 > * + * {
    margin-left: 16px; 
}
.mt-4 {
    margin-top: 16px; 
}
.icones-sociais-brancas {
    color: var(--cor-branca);
}


@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr); 
    }
}

body.dark-mode {
    background-color: var(--cor-fundo); 
    color: #f3f4f6; 
}

.cartao-perfil.dark-mode {
    background-color:  var(--cor-secundaria);
}
body.dark-mode a.text-cyan-500 {
    color: var(--cor-branca); 
}

body.dark-mode a.icones-sociais{
    color: var(--cor-branca);
}

body.dark-mode .rodape{
    background-color: var(--cor-primaria);
}